<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122607153548-cv42rttmfv183cf81dlru953dievqs1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122607153548-cv42rttmfv183cf81dlru953dievqs1n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>122607153548-c14mn7v15n3s5an5aug4hb9em5c1m2qo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGEyyIXaC2JR_f-iz2K8kEGu4HyDoZQdY</string>
	<key>GCM_SENDER_ID</key>
	<string>122607153548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IHA.SWPSA.digital</string>
	<key>PROJECT_ID</key>
	<string>it-s-happening-sa</string>
	<key>STORAGE_BUCKET</key>
	<string>it-s-happening-sa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122607153548:ios:c5f5d866c8a0ed8b1466a9</string>
</dict>
</plist>